<?xml version="1.0"?>
<configuration>
  <appSettings file="appsecretprivatekeys.config" >
    <add key="AmazonaccessKeyId" value=""/>
    <add key="AmazonsecretKey" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="GraceNoteAplicationID" value=""/> 
  </appSettings>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MusicCollection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MusicCollection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AWSECommerceServiceBindingNoTransport" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553666" maxBufferPoolSize="524288" maxReceivedMessageSize="6553666" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AWSECommerceServiceBindingTransport" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553666" maxBufferPoolSize="524288" maxReceivedMessageSize="6553666" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--behaviorConfiguration="amazonEndpointBehavior"-->
      <endpoint address="https://ecs.amazonaws.com/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBindingTransport"  contract="WebServices.Amazon.AWSECommerceServicePortType" name="AWSECommerceServicePort"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <MusicCollection.Properties.Settings>
      <setting name="RarZipFileAfterSuccessfullExtract" serializeAs="String">
        <value>DoNothing</value>
      </setting>
      <setting name="FileCreatedByConvertion" serializeAs="String">
        <value>SameFolder</value>
      </setting>
      <setting name="ConvertedFileExtractedFromRar" serializeAs="String">
        <value>DoNothing</value>
      </setting>
      <setting name="ImportBrokenItunesTrack" serializeAs="String">
        <value>Yes</value>
      </setting>
      <setting name="DirForPermanentCollection" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportCollectionFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RarZipFileAfterFailedExtract" serializeAs="String">
        <value>DoNothing</value>
      </setting>
      <setting name="SourceFileUsedForConvertion" serializeAs="String">
        <value>DoNothing</value>
      </setting>
      <setting name="DeleteRemovedFile" serializeAs="String">
        <value>AskEndUser</value>
      </setting>
      <setting name="RarExctractManagement" serializeAs="String">
        <value>CopyInMananagedFolder</value>
      </setting>
      <setting name="AddUseRarPasswordToList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BassUser" serializeAs="String">
        <value>desmaisons_david@hotmail.com</value>
      </setting>
      <setting name="LastPathImportFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastPathImportRar" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageSizeMoLimit" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ImageNumberLimit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImageNumber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImageSizeLimit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastPathExportFile" serializeAs="String">
        <value />
      </setting>
      <setting name="AlbumSorterPolarity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlbumSortering" serializeAs="String">
        <value>ImportDate</value>
      </setting>
      <setting name="SessionOpenCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SplashScreenPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastExportType" serializeAs="String">
        <value>Directory</value>
      </setting>
      <setting name="LastImportType" serializeAs="String">
        <value>Compressed</value>
      </setting>
      <setting name="SynchronizeBrokeniTunes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastPathImportCusto" serializeAs="String">
        <value />
      </setting>
      <setting name="FreedbServers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>www.gnudb.org:80</string>
            <string>gnudb.gnudb.org:80</string>
            <string>freedb.org:80</string>
            <string>freedb.freedb.org:80</string>
            <string>at.freedb.org:80</string>
            <string>au.freedb.org:80</string>
            <string>ca.freedb.org:80</string>
            <string>es.freedb.org:80</string>
            <string>fi.freedb.org:80</string>
            <string>lu.freedb.org:80</string>
            <string>ru.freedb.org:80</string>
            <string>uk.freedb.org:80</string>
            <string>us.freedb.org:80</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FreedbServer" serializeAs="String">
        <value>us.freedb.org:80</value>
      </setting>
      <setting name="PresenterMode" serializeAs="String">
        <value>Classic</value>
      </setting>
      <setting name="MoveOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DiscogsTimeOut" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DiscogsActivated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AmazonActivated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplaySizer" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OpenCDDoorOnEndImport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SplashScreenPath1" serializeAs="String">
        <value />
      </setting>
      <setting name="DiscogsToken" serializeAs="String">
        <value />
      </setting>
      <setting name="DiscogsTokenSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="DestinationDirForComputedFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="DestinationDirForFailedFiles" serializeAs="String">
        <value />
      </setting>
    </MusicCollection.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
  </applicationSettings>
</configuration>
