<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section type="System.Configuration.NameValueSectionHandler" name="TestRunner"></section>
    </sectionGroup>
  </configSections>
  <NUnit>
    <TestRunner>
      <add value="STA" key="ApartmentState"></add>
    </TestRunner>
  </NUnit>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings file="appsecretprivatekeys.config">
    <add key="AmazonaccessKeyId" value=""/>
    <add key="AmazonsecretKey" value=""/>
    <add key="AdministrativeEmail"  value=""/>
    <add key="AdministrativeEmailPassword"  value=""/>
    <add key="AdministrativeEmailReceptor"  value=""/>
    <add key="DiscogsConsumerKey"  value=""/>
    <add key="DiscogsConsumerSecret"  value=""/>
    <add key="BassPassword"  value=""/>
    <add key="BassUser"  value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AWSECommerceServiceBindingNoTransport" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553666" maxBufferPoolSize="524288" maxReceivedMessageSize="6553666" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="AWSECommerceServiceBindingTransport" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553666" maxBufferPoolSize="524288" maxReceivedMessageSize="6553666" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ecs.amazonaws.com/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBindingTransport"  contract="WebServices.Amazon.AWSECommerceServicePortType"  name="AWSECommerceServicePort"/>
    </client>
  </system.serviceModel>

</configuration>
